<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net452" />
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="Equin.ApplicationFramework.BindingListView" version="1.4.5222.35545" targetFramework="net452" />
  <package id="GAIPS.Serialization" version="1.5.0" targetFramework="net452" />
  <package id="NAudio" version="1.5" targetFramework="net452" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NVorbis" version="0.8.4.0" targetFramework="net452" />
  <package id="SoundTouch.Net" version="1.9.2.2" targetFramework="net452" />
  <package id="Utilities" version="1.0.0.19854" targetFramework="net452" />
</packages>