<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.4.0" targetFramework="net452" />
  <package id="Accord.Audio" version="3.4.0" targetFramework="net452" />
  <package id="Accord.DirectSound" version="3.4.0" targetFramework="net452" />
  <package id="Accord.Math" version="3.4.0" targetFramework="net452" />
  <package id="Accord.Video" version="3.4.0" targetFramework="net452" />
  <package id="Accord.Video.DirectShow" version="3.4.0" targetFramework="net452" />
  <package id="Accord.Video.FFMPEG" version="3.4.0" targetFramework="net452" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="EPPlus" version="4.1.1" targetFramework="net452" />
  <package id="Equin.ApplicationFramework.BindingListView" version="1.4.5222.35545" targetFramework="net452" />
  <package id="MathNet.Numerics.Core" version="3.17.0" targetFramework="net452" />
  <package id="SharpDX" version="2.6.0" targetFramework="net452" />
  <package id="SharpDX.DirectSound" version="2.6.0" targetFramework="net452" />
</packages>